# default forge gitignore
eclipse
bin*
.launch
.settings
.metadata
.classpath
.project
idea
out*
.ipr*
.iws*
.iml
.idea
gradle
build
.gradle
#

hs_err_pid*

#eclipse
.project
.classpath
.metadata
org.*
bin

#idea
.idea
*.iml
*.ipr
*.iws
*.eml
out

#gradle
build
.gradle
gradle.properties

#runtime
eclipse
run

#mac
.DS_Store
*.command

#workspace
screenshots
asm/**
config/**
crash-reports/**
minetweaker.log
options.txt
usernamecache.json
logs/**
saves/**
blacksmith/**

/server.properties
*.psd
classes
extras/**
