*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*

#eclipse
.project
.classpath
.metadata
org.*
bin

#idea
.idea
*.iml
*.ipr
*.iws
*.eml
out

#gradle
build
.gradle
gradle.properties

#runtime
eclipse
run

#mac
.DS_Store
*.command

#workspace
screenshots
asm/**
config/**
crash-reports/**
minetweaker.log
options.txt
usernamecache.json
logs/**
saves/**

/server.properties
*.psd
classes
extras/**
